
.container{
    width: 500px;
    height: 599px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(180deg,#ffffff 0%,#000000 100%);
}
.top-bar{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 45px;
}
.top-bar input{
    width: 199px;
    height: 38px;
    border-radius: 34px;
    padding: 4px 16px;
    font-size: 17px;
    border: 2px solid black;
}
.search-icon img{
    width: 35px;
    height: 35px;
    margin-top: 7px;
}
.weather-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
.weather-image img{
    width: 30%;
}
.weather-temp{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 400;
}
.weather-loc{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
}
.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}
.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.element img{
    width: 50px;
    height: 50px;
}
.data{
    font-size: 24px;
    font-weight: 400;
}
.text{
    font-size: 20px;
    font-weight: 400;
}
.icon{
    margin-top: 5px;
}