@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&display=swap');
.container{
    text-align: center;
}
.title{
    margin-top: 50px;
    color: white;
    font-size: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bricolage Grotesque', sans-serif;
}
.reset{
    width: 200px;
    height: 80px;
    border: 2px solid rgb(149, 237, 149);
    cursor: pointer;
    border-radius: 50px;
    background: #1f3540;
    font-size: 28px;
    color: #26ffcb;
    margin-top: -95px;
}
.reset:hover{
    background: rgba(216, 176, 43, 0.812);
    color: black;
    transition: all 0.6s;
    border: 2px solid black;
}
.boxes{
    display: flex;
    height: 130px;
    width: 130px;
    background: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
    
}
.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
}.boxes img{
    margin: 42px 42px;
}
.title img{
    padding: 10px 10px;
    height: 50px;
    margin-top: 5px;
}